body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#studentsList {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.student {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.student span {
  flex: 1;
}

.student button {
  margin-left: 10px;
}
