* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50PX;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50PX;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** box 2 **/
.add-first {
    color: #CCCCCC;
    font-size: 0.75 rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 2 rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}